<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

   <header class="page-header" role="banner">
  <!-- Centered logo at the top with your exact path -->
  <img src="{{ '/assets/images/dark_mode_logo(2).png' | relative_url }}" alt="abcAssess Logo" class="hero-logo">

  <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
  
  </header>
  {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
  {% endif %}
  {% if site.github.is_user_page %}
    <a href="{{ site.github.owner_url }}" class="btn">GitHub Profile</a>
  {% endif %}
</header>

    <main id="content" class="main-content" role="main">
      {{ content }}

     
<footer class="site-footer">
 

  <div class="footer-image-container">
    <img src="{{ '/assets/images/logo_image.png' | relative_url }}" alt="abcAssess logo">
    <p class="footer-copyright">&copy; 2026 abcAssess. All rights reserved.</p>
     <span class="site-footer-credits">Hosted on GitHub Pages — Theme by orderedlist</span>
  </div>
</footer>
    </main>
  </body>
</html>

